body {
    text-align: center;
    color: #F5F5F5;
    background-color: #424242;
    font-family: 'Inconsolata', monospace;
}

#plane {
    margin: 0 auto;
    background-color: #F5F5F5;
}

.button {
    background-color: #2196F3; 
    display: inline-block;
    text-decoration: none;
    margin: 10px 5px;
    text-align: center;
    padding: 5px;
    width: 100px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.button:hover {
    color: white;
    background-color: #1976D2;
    cursor: pointer;
    animation: buttonhover;
    animation-duration: .2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 4px 8px rgba(0,0,0,0.23);
}

@keyframes buttonhover{
  from {background-color: #2196F3; box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);}
  to {background-color: #1976D2; box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 4px 8px rgba(0,0,0,0.23);}
}